*{
    box-sizing: border-box;
    padding: 0;
    
}
.bgceleste{
    background-color: lightskyblue
}
.bgsearchbar{
    background-color: #f3eeea;
}
.bgheadermain{
   background-color: #eaeaea;
}
.bgcontacts{
    background-color: #ffffff;
}
.imgSize{
    width: 45px;
    height: 45px;
    border-radius: 22px;
}
.fs-7{
    font-size: 10px;
}
.fs-8{
    font-size: 14px;
}
.bg-main{
background-image: url(mine.jpg);
}
.altezza{
    height: 550px;
}
.lunghezza-Input{
    width: 650px;
}

.dataStyling{

    position: relative;
    bottom: 2px;
    margin-right: 10px;
    right: 42px;


}

.positionrelative{
    position: relative;
}


.received{
    display: flex;
    justify-content: start;
    background-color: #ffffff;
    border-radius: 6px;
    width: 230px;
    height: 50px;
    padding-left: 5px;
    padding-top: 10px;
    display: flex;
    align-items: center;
}
.sent{
    display: flex;
    justify-content: end;
    background-color: #d4f8ba;
    border-radius: 6px;
    width: 230px;
    height: 50px;
    padding-left: 5px;
    padding-top: 10px;
    display: flex;
    align-items: center;
}