*{
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
}
.bgceleste{
    background-color: lightskyblue
}
.bgsearchbar{
    background-color: #f3eeea;
}
.bgheadermain{
   background-color: #eaeaea;
}
.bgcontacts{
    background-color: #ffffff;
}
.imgSize{
    width: 45px;
    height: 45px;
    border-radius: 22px;
}
.fs-7{
    font-size: 10px;
}
.bg-main{
background-image: url(mine.jpg);
}
.altezza{
    height: 550px;
}
.lunghezza-Input{
    width: 700px;
}
.styleSendMsg{
    background-color: #d4f8ba;
    border-radius: 6px;
    width: 230px;
    height: 50px;
    padding-left: 5px;
    padding-top: 10px;
    display: flex;
    align-items: flex-end;
}
.positionrelative{
    position: relative;
}